@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
*{
  font-family: 'Rubik', sans-serif;
}

:root{
  --background-main : hsl(223, 19%, 93%);
  --secondary-main: hsl(0, 0%, 100%);
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-main)
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.index{
  background-color: var(--background-main);

}
.comments-container{
  width: 50%;
}
.comment{
  background-color: var(--secondary-main);
  border-radius: 10px;
}
.vote-icon{
margin-left: 2px;
cursor:pointer;
  fill: hsl(239, 57%, 85%)
}
.vote-icon:hover{
  fill: hsl(240, 11%, 49%)
}
.vote-icon:active{
  fill: hsl(240, 62%, 85%)
}
.vote-container{
  background-color: var(--background-main);
  border-radius: 10px;
  padding: 10px;
}
.vote-container:hover{
  background-color: #eef0ff;

}
.clicked-icon{
  fill : rgb(193, 29, 56) !important;
}
.vote-count{
  cursor:default;
  font-weight: 500;
  color:hsl(238, 40%, 52%) ;
  user-select: none;
}
.vote-count:hover{
  color:hsl(237, 46%, 26%) ;
}
.user-name{
  color:  hsl(212, 24%, 26%);
  font-weight: 500;
  font-size: 15px;
}
.posted-date{
  color:  hsl(211, 10%, 45%);

  font-size: 13px;
  font-weight: 300;
}
.rp-btn{
  cursor: pointer;
  color:hsl(238, 40%, 52%);
  font-weight: 500;
  font-size: 16px;
  
}
.rp-icon{
fill:hsl(238, 40%, 52%);
}

.rp-btn:hover .rp-icon{

fill:hsl(239, 37%, 37%);

}
.rp-btn:hover{
  color:hsl(239, 37%, 37%);
}

.rp-btn:active{
  color:hsl(237, 57%, 72%);
}
.rp-btn:active .rp-icon{

  fill:hsl(237, 57%, 72%);
  }
.comment-text{
  color:  hsl(210, 10%, 30%);
  word-break: break-all;  
  font-size: 15px;}
.reply-comment-container{
  border-left: 3px solid hsl(223, 19%, 93%);
  width: 94%;padding-left: 30px;
}
.input{
  border-radius: 10px;
  background-color: var(--secondary-main);
  bottom: 0px;
}
.input button{
  border: 0px;
  border-radius: 8px;
  height:48px;
  font-weight: 600;
  color: var(--background-main);
  background-color: hsl(238, 40%, 52%);
}
.input button:hover{
  background-color: hsl(238, 37%, 34%);
}
.input button:active{
  background-color: hsl(238, 31%, 67%);

}
.input textarea{
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid  hsl(223, 19%, 93%);
}
.input textarea:focus-visible{
  border: 1px solid    hsl(223, 3%, 51%);
  outline: none;

}
.you-tag{
  background-color:  hsl(238, 40%, 52%);
  color: white;
  font-size: 12px;
  font-weight: 500;
}
.edit-btn{
  cursor: pointer;
  color:hsl(238, 40%, 52%);
  font-weight: 500;
  font-size: 16px;
  
}
.edit-icon{
fill:hsl(238, 40%, 52%)
}

.edit-btn:hover .edit-icon{

fill:hsl(239, 37%, 37%);

}
.edit-btn:hover{
  color:hsl(239, 37%, 37%);
}

.edit-btn:active{
  color:hsl(237, 57%, 72%);
}
.edit-btn:active .edit-icon{

  fill:hsl(237, 57%, 72%);
  }

  .delete-btn{
    cursor: pointer;
    color:  hsl(358, 79%, 66%);
    font-weight: 500;
    font-size: 16px;
    
  }
  .delete-icon{
  fill:  hsl(358, 79%, 66%)
  }
  
  .delete-btn:hover .delete-icon{
  
  fill: hsl(358, 63%, 53%);
  
  }
  .delete-btn:hover{
    color: hsl(358, 63%, 53%);

  }
  
  .delete-btn:active{
    color: hsl(357, 100%, 86%)

  }
  .delete-btn:active .delete-icon{
  
    fill:  hsl(357, 100%, 86%)

    }